extends layout
block content
  div.error-content
    <svg xmlns="http://www.w3.org/2000/svg" width="350" height="350" viewBox="0 0 24 20" stroke-width="2" stroke="currentColor" fill="" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M3 7v4a1 1 0 0 0 1 1h3" /> <path d="M7 7v10" /> <path d="M10 8v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1z" /> <path d="M17 7v4a1 1 0 0 0 1 1h3" /> <path d="M21 7v10" /> </svg>
    <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
    p Page not found : (
    a(href="/") HOME PAGE
