extends layout
block content
  div(style='display: flex; flex-direction: column; align-items: center;')
    h1(style='margin-top: 25px; margin-bottom: 25px') Internal Server Error
    div(style='display: flex; justify-content: space-around; margin-bottom: 25px')
    div(style='display: flex; flex-direction: column; align-items: center;')
      <iframe src="https://giphy.com/embed/tNC2rod1uTrdC" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/futurama-bender-tNC2rod1uTrdC">via GIPHY</a></p>
      a(role="button" class="outline" href="/") HOME PAGE
