article(class='slide-it')
  button(hx-get='/delegate' hx-target='closest article' hx-push-url="true" id='delegate' hx-swap="outerHTML transition:true" data-loading-disable data-loading-aria-busy data-loading-delay="500") Delegate to us
  button(hx-get='/restake'  hx-target='closest article' hx-push-url="true" id='restake'  hx-swap="outerHTML transition:true" data-loading-disable data-loading-aria-busy data-loading-delay="500") Restake
  a(href='/how-kyve-restake-works'): button(class="secondary outline" data-loading-disable data-loading-aria-busy data-loading-delay="500") How KYVE RESTAKE works
