/*swap animation*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

.slide-it {
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: auto;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*sweet alert!*/
.colored-toast {
  background-color: #19191a !important;
}
/** link button **/
a:has(button:only-child) {
  color: inherit;
  text-decoration: inherit;
}

a:has(h1) {
  color: inherit;
  text-decoration: inherit;
}

/** style **/
.col-1 {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.col-2 {
  font-size: 20px;
  width: 33%;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  height: 150px; 
  border-radius: 50%; 
  margin: 50px
}

.contact-icon {
  display: flex; 
  flex-direction: column; 
  flex: 1; 
  justify-content: flex-end;
}

.vertical-line {
  border-right: 1px solid white; 
  margin-right: 16px; 
  margin-left: 16px
}

.horizontal-line {
  border-bottom: 1px solid white; 
  margin-top: 16px; 
  margin-bottom: 16px
}

.restake-info {
  display: flex; 
  flex: 1; 
  flex-direction: column; 
  justify-content: flex-end;
}

.flex-columns {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.validator-info {
  display: flex;
  flex-direction: column; 
  flex: 1
}

.time-info {
  margin: 0;
  margin-top: 5px
}

.profile-button {
  margin: 0; 
  width: 60%;
}

.footer-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-content {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}

.error-message-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.error-gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delegate-max-button {
  width: 30%; 
  margin: 0; 
  margin-left: 3px
}

.button-container {
  margin-top: 10px;
}

.restake-button {
  border-color: red; 
  color: red
}

.bold-text { 
  font-weight: bold;
}

.inform-article {
  display: flex;
  margin: 0;
  margin-top: 10px;
}
.no-margin {
  margin: 0;
}
h1 {
  margin: 0;
}
.header-validator {
  display: flex;
}
@media (max-width: 990px) {
  .inform-article {
    flex-direction: column;
  }
  .header-validator {
    flex-direction: column;
  }
}
